In [ ]:
# Gropby Aggregration

In [1]:
import pandas as pd

# Create data
data = {
    "Category": ["Electronics", "Grocery", "Clothing", "Electronics", "Grocery"],
    "Store": ["Store A", "Store B", "Store C", "Store A", "Store B"],
    "Sales": [50000, 15000, 20000, 30000, 18000],
    "Quantity": [5, 30, 20, 3, 25],
    "Date": ["2026-01-01", "2026-01-02", "2026-01-03", "2026-01-04", "2026-01-05"],
    "Price": [10000, 500, 1000, 10000, 600],
    "Profit": [8000, 3000, 5000, 6000, 3500]
}

# Create DataFrame
df = pd.DataFrame(data)

print(df)

      Category    Store  Sales  Quantity        Date  Price  Profit
0  Electronics  Store A  50000         5  2026-01-01  10000    8000
1      Grocery  Store B  15000        30  2026-01-02    500    3000
2     Clothing  Store C  20000        20  2026-01-03   1000    5000
3  Electronics  Store A  30000         3  2026-01-04  10000    6000
4      Grocery  Store B  18000        25  2026-01-05    600    3500

In [5]:
cat=df.groupby('Category')
cat
for  i,v in cat:
    print(i)
    print(v)

Clothing
   Category    Store  Sales  Quantity        Date  Price  Profit
2  Clothing  Store C  20000        20  2026-01-03   1000    5000
Electronics
      Category    Store  Sales  Quantity        Date  Price  Profit
0  Electronics  Store A  50000         5  2026-01-01  10000    8000
3  Electronics  Store A  30000         3  2026-01-04  10000    6000
Grocery
  Category    Store  Sales  Quantity        Date  Price  Profit
1  Grocery  Store B  15000        30  2026-01-02    500    3000
4  Grocery  Store B  18000        25  2026-01-05    600    3500

In [7]:
cat=df.groupby('Category')['Sales'].sum()
cat

Category
Clothing       20000
Electronics    80000
Grocery        33000
Name: Sales, dtype: int64

In [8]:
cat=df.groupby('Store')['Sales'].sum()
cat

Store
Store A    80000
Store B    33000
Store C    20000
Name: Sales, dtype: int64

In [10]:
#create by muliple colums
cat=df.groupby(['Category','Store'])['Sales'].sum()
cat

Category     Store
Clothing     Store C    20000
Electronics  Store A    80000
Grocery      Store B    33000
Name: Sales, dtype: int64

In [ ]:
# Aggregation

In [14]:
df['Sales'].mean()
'''man medium  min max count std'''

np.float64(26600.0)

In [18]:
df['Sales'].agg(['sum','mean','min','max','count','std','median'])

sum       133000.000000
mean       26600.000000
min        15000.000000
max        50000.000000
count          5.000000
std        14240.786495
median     20000.000000
Name: Sales, dtype: float64