In [ ]:
# missing data

In [5]:
import pandas as pd
import numpy as np

anime_data = {
    "anime_id": [1, 2, 3, 4, 5],
    "title": [
        "Naruto",
        "Attack on Titan",
        "One Piece",
        "Death Note",
        "Demon Slayer"
    ],
    "genre": [
        np.nan,
        "Action",
        "Adventure",
        "Thriller",
        np.nan               # missing genre
    ],
    "episodes": [
        220,
        75,
        np.nan,              # missing episodes
        37,
        np.nan
    ],
    "rating": [
        8.3,
        9.0,
        8.9,
        np.nan,              # missing rating
        8.7
    ],
    "studio": [
        "Studio Pierrot",
        "MAPPA",
        "Toei Animation",
        np.nan,              # missing studio
        "Ufotable"
    ],
   
   
}

df = pd.DataFrame(anime_data)
print(df)

   anime_id            title      genre  episodes  rating          studio
0         1           Naruto        NaN     220.0     8.3  Studio Pierrot
1         2  Attack on Titan     Action      75.0     9.0           MAPPA
2         3        One Piece  Adventure       NaN     8.9  Toei Animation
3         4       Death Note   Thriller      37.0     NaN             NaN
4         5     Demon Slayer        NaN       NaN     8.7        Ufotable

In [7]:
df.isna()

   anime_id  title  genre  episodes  rating  studio
0     False  False   True     False   False   False
1     False  False  False     False   False   False
2     False  False  False      True   False   False
3     False  False  False     False    True    True
4     False  False   True      True   False   False

In [ ]:
# to know many mising values

In [8]:
df.isna().sum()

anime_id    0
title       0
genre       2
episodes    2
rating      1
studio      1
dtype: int64

In [9]:
df.isna().any()

anime_id    False
title       False
genre        True
episodes     True
rating       True
studio       True
dtype: bool

In [12]:
df

   anime_id            title      genre  episodes  rating          studio
0         1           Naruto        NaN     220.0     8.3  Studio Pierrot
1         2  Attack on Titan     Action      75.0     9.0           MAPPA
2         3        One Piece  Adventure       NaN     8.9  Toei Animation
3         4       Death Note   Thriller      37.0     NaN             NaN
4         5     Demon Slayer        NaN       NaN     8.7        Ufotable

In [11]:
df.dropna()

   anime_id            title   genre  episodes  rating studio
1         2  Attack on Titan  Action      75.0     9.0  MAPPA

In [13]:
df.dropna(thresh=6)

   anime_id            title   genre  episodes  rating studio
1         2  Attack on Titan  Action      75.0     9.0  MAPPA

In [ ]:
# filing the missing data

In [14]:
df

   anime_id            title      genre  episodes  rating          studio
0         1           Naruto        NaN     220.0     8.3  Studio Pierrot
1         2  Attack on Titan     Action      75.0     9.0           MAPPA
2         3        One Piece  Adventure       NaN     8.9  Toei Animation
3         4       Death Note   Thriller      37.0     NaN             NaN
4         5     Demon Slayer        NaN       NaN     8.7        Ufotable

In [15]:
df.fillna(0)  # not effect on orignal data

   anime_id            title      genre  episodes  rating          studio
0         1           Naruto          0     220.0     8.3  Studio Pierrot
1         2  Attack on Titan     Action      75.0     9.0           MAPPA
2         3        One Piece  Adventure       0.0     8.9  Toei Animation
3         4       Death Note   Thriller      37.0     0.0               0
4         5     Demon Slayer          0       0.0     8.7        Ufotable

In [21]:
values={'anime_id':-1000,'title':'unAccess','genre':'-','episodes':9000000000000000000000,'rating':1000,'studio':'abc'}
df.fillna(value= values)

   anime_id            title      genre      episodes  rating          studio
0         1           Naruto          -  2.200000e+02     8.3  Studio Pierrot
1         2  Attack on Titan     Action  7.500000e+01     9.0           MAPPA
2         3        One Piece  Adventure  9.000000e+23     8.9  Toei Animation
3         4       Death Note   Thriller  3.700000e+01  1000.0             abc
4         5     Demon Slayer          -  9.000000e+23     8.7        Ufotable

In [22]:
df

   anime_id            title      genre  episodes  rating          studio
0         1           Naruto        NaN     220.0     8.3  Studio Pierrot
1         2  Attack on Titan     Action      75.0     9.0           MAPPA
2         3        One Piece  Adventure       NaN     8.9  Toei Animation
3         4       Death Note   Thriller      37.0     NaN             NaN
4         5     Demon Slayer        NaN       NaN     8.7        Ufotable

In [28]:
# df.fillna(df.mean())  # get error at is is formate of string

In [25]:
data = {
    "A": [1, 2, 3],
    "B": [4, 5, 6],
    "C": [7, 8, 9]
}

ab= pd.DataFrame(data)
print(ab)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [26]:
ab.fillna(ab.mean())

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9